p{
    color: #555;
    font-family: arial;
    background: #ooffoo;
    font-size:"16pt";
    font-weight: bold
}

p.group{
    color: red;
    font-family verdana;
    font-size:"14pt";
    font-weight: normal;
    background: #ooooff
}

p#one{
    color: #ooffoo;
    background: #ffffff
}